.movieRow {
  margin-bottom: 30px; /*distancia entre cada categoria*/
}

.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--listArea {
  overflow-x: hidden; /*tudo q passar da tela na vertical será cortado*/
  padding-left: 30px;
}

.movieRow--list {
  transition: all ease 0.4s;
}

.movieRow--item {
  display: inline-block;
  width: 190px; /*digo q a img tera esse valor*/
  cursor: pointer;
}

.movieRow--item img {
  width: 100%; /*e aq digo q ela ocupará 100% de 150px definido em .movieRow--item*/
  transform: scale(
    0.9
  ); /*porém aq digo que ela ocupará 90%, dando um espaçamento entre as imagens e por fim da animação*/
  transition: all ease 0.3s;
}

.movieRow--item img:hover {
  transform: scale(
    1
  ); /*no hover, ela volta a ter 100% de 150px, causaundo a animação*/
}

.movieRow--left,
.movieRow--right {
  position: absolute;
  width: 40px;
  height: 284px;
  z-index: 99;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border: none;
  opacity: 0;
  transition: all ease 0.5s;
}

.movieRow--left {
  left: 0;
}

.movieRow--right {
  right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}

@media (max-width: 760px) {
  .movieRow--left,
  .movieRow--right {
    opacity: 1;
  }
}
